*{ /*This would remove space in margins and padding. We can set the size of elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #555; /*Text color*/
    font-family: 'lato','arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

header{
    /*background-image: url(img/hero.jpg);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);/*This would add color on top and bottom of image*/
    height: 100vh;/*The header is displayed on the 100% viewport*/
    background-size: cover; /*The background image fits completely in header*/
    background-position: center; /*When resizing the image the browser shrinks with respect to center*/
}

.hero-text-box{
    position: absolute;/*This will position the element with respect to parent element*/
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);/*This will position the div 50% left and 50% top*/
}

h1{
    margin-top: 0px;
    margin-bottom: 20px;
    /*margin: 0;/*The normalize css has  some margin. We are removing the margin*/
    color: #fff;
    font-size: 240%; /*This is 240% of 20px we already defined in html class*/
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.btn{
    display:inline-block;
    padding: 10px 30px;/*This adds spaces between content and border 10px on top 30px right  10px bottom 30px right*/
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.btn-full{
    background-color: #e67e22;
    border-radius: 200px;
}

.btn-ghost{
    border: 1px #e67e22;
    border-radius: 200px;
    color: #e67e22;
}